<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- Required by Objectif to clean up asyncronous pending -->
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Secure Workers from external access -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>tasks</web-resource-name>
            <url-pattern>/tasks/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <servlet>
        <servlet-name>series_worker</servlet-name>
        <servlet-class>org.codeisland.aggregato.service.workers.SeriesWorker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>series_worker</servlet-name>
        <url-pattern>/tasks/series_worker</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>news_worker</servlet-name>
        <servlet-class>org.codeisland.aggregato.service.workers.NewsWorker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>news_worker</servlet-name>
        <url-pattern>/tasks/news_worker</url-pattern>
    </servlet-mapping>

    <!-- Servlets -->
    <servlet>
        <servlet-name>news_test</servlet-name>
        <servlet-class>org.codeisland.aggregato.service.News</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>news_test</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>calendar_test</servlet-name>
        <servlet-class>org.codeisland.aggregato.service.Calendar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>calendar_test</servlet-name>
        <url-pattern>/calendar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>watchlist_test</servlet-name>
        <servlet-class>org.codeisland.aggregato.service.MyWatchlist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>watchlist_test</servlet-name>
        <url-pattern>/watchlist</url-pattern>
    </servlet-mapping>

    <!-- The API Endpoint -->
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>org.codeisland.aggregato.service.api.SeriesAPI</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>
    

</web-app>
