<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
    <script src="/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <title>Aggregato - {{title}}</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-inverse" role="navigation" style="border-radius: 0;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    {{#navitem}}<a href="/news">News</a>{{/navitem}}
                    {{#navitem}}<a href="/calendar">Calendar</a>{{/navitem}}
                    {{#navitem}}<a href="/watchlist">Watchlist</a>{{/navitem}}
                    {{#navitem}}<a href="/subscriptions">Subscriptions</a>{{/navitem}}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#user}}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false" style="padding-top: 8px; padding-bottom: 10px;"
                            >
                                {{name}} <img class="img-circle" style="margin-left: 10px; height: 32px;" src="{{avatar}}"/>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{loginLogoutLink}}">Logout</a></li>
                            </ul>
                        </li>
                    {{/user}}
                    {{^user}}
                        <li><a href="{{loginLogoutLink}}">Login</a></li>
                    {{/user}}
                    <li></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-sm-offset-1">
                {{{content}}}
            </div>
        </div>
    </div>
</body>
</html>