<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Series</title>
</head>
<body>

    <h1>Series</h1>
    <form method="post" action="/calendar">
        <label>
            Series to add:
            <input type="text" name="series_name">
        </label>
        <input type="submit" value="Load episodes">
    </form>
    <table>
        <thead>
            <tr>
                <th>Series</th>
                <th>Episode</th>
                <th>Aired</th>
            </tr>
        </thead>
        <tbody>
            {{#episodes}}
            <tr>
                <td>{{series.name}}</td>
                <td>{{title}}</td>
                <td>{{airDate}}</td>
            </tr>
            {{/episodes}}
            {{^episodes}}
            <tr>
                <td colspan="3"><h3>No data here...</h3></td>
            </tr>
            {{/episodes}}
        </tbody>
    </table>

</body>
</html>