<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>News</title>
</head>
<body>

    <form action='/news' method='post'>
        <label>
            Series to new from:
            <input type="text" name="series_name">
        </label>
        <input type="submit" value="Load News">
    </form>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Desc</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {{#news}}
            <tr>
                <td><a href="{{link}}">{{title}}</a></td>
                <td>{{description}}</td>
                <td>{{pubDate}}</td>
            </tr>
            {{/news}}
            {{^news}}
            <tr>
                <td colspan="3"><h3>No data here...</h3></td>
            </tr>
            {{/news}}
        </tbody>
    </table>

</body>
</html>