<h1>Subscriptions for {{user}}</h1>
<a href="{{logout_link}}">Logout</a>
<form action="/subscriptions" method="post">
    <div class="form-group">
        <label for="series">Series to Subscribe to:</label>
        <select multiple="multiple" name="series" class="form-control" id="series">
            {{#series}}
            <option value="{{id}}">{{name}}</option>
            {{/series}}
        </select>
    </div>
    <input type="submit" value="Subscribe" class="btn btn-default">
</form>
<ul>
    {{#subscriptions}}
    <li>
        {{name}}
        <img src="{{getPosterLink}}"/>
    </li>
    {{/subscriptions}}
    {{^subscriptions}}
    <li><h3>No entries yet...</h3></li>
    {{/subscriptions}}
</ul>