<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Subscriptions</title>
</head>
<body>
    <h1>Subscriptions for {{user}}</h1>
    <a href="{{logout_link}}">Logout</a>
    <form action="/subscriptions" method="post">
        <select multiple="multiple" name="series">
            {{#series}}
            <option value="{{id}}">{{name}}</option>
            {{/series}}
        </select>
        <input type="submit" value="Subscribe">
    </form>
    <ul>
        {{#subscriptions}}
        <li>
            {{name}}
        </li>
        {{/subscriptions}}
        {{^subscriptions}}
        <li><h3>No entries yet...</h3></li>
        {{/subscriptions}}
    </ul>
</body>
</html>