<h1>Watchlist for {{user}}</h1>
<a href="{{logout_link}}">Logout</a>
<form action="/watchlist" method="post">
    <select multiple="multiple" name="episodes">
        {{#episodes}}
        <option value="{{id}}">{{title}}</option>
        {{/episodes}}
    </select>
    <input type="submit" value="Add to Watchlist">
</form>
<table class="table">
    <thead>
        <tr>
            <th>Series</th>
            <th>#</th>
            <th>Episode</th>
            <th>Air Date</th>
            <th><span class="glyphicon glyphicon-eye-open"></span></th>
        </tr>
    </thead>
    <tbody>
        {{#watchlist}}
        <tr>
            <td>{{series.name}}</td>
            <td>s{{seasonNumber}}e{{episodeNumber}}</td>
            <td>{{title}}</td>
            <td>{{airDate}}</td>
            <td><button class="btn btn-sm"><span class="glyphicon glyphicon-check"></span></button></td>
        </tr>
        {{/watchlist}}
        {{^watchlist}}
        <tr>
            <td colspan="3"><h3>No data here...</h3></td>
        </tr>
        {{/watchlist}}
    </tbody>
</table>